# Biar file-file/folder ini ga ikut ke-commit
*.class
.vscode/
bin/
target/
/Praktikum10/Prak10/jdbc_mhs_service/nbproject/private/
/Praktikum10/Prak10/jdbc_mhs_service/build/
/Praktikum11/In-Lab/modul_A/nbproject/private/
/Praktikum11/In-Lab/modul_A/build/
/Praktikum11/In-Lab/modul_A/dist/
